

.container_feed {
  max-width: 470px;
  margin-right: 32px;
  margin-top: 10px;
  width: 100%;
}

.suggestions {
  max-width: 319px;
  width: 100%;
}

.container_post {
  max-width: 470px;
  margin-top: 16px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.container_post_content {
  height: 470px;
  max-width: 470px;
  width: 100%;
  background-color: #ccc;
}