.nav_item {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  margin: 2px 0 2px 0;
  margin-top: 0.5rem;
  padding: 0.75rem;
  padding: 0.75rem;

}

.nav_item:hover {
  background-color: #fafafa;
  border-radius: 1.5rem;
}
@media (min-width: 768px) and (max-width: 1263px) {
  .nav_title {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .nav_item {
    margin: 0;
    display: inline-block;
  }
  .nav_title {
    display: none;
  }
}
